.about__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2rem;
  text-align: center;
}

.about__me {
  width: 20rem;
  height: 20rem;
  border-radius: 2rem;
  background: linear-gradient(45deg, transparent, var(--color-primary), transparent);
  display: grid;
  place-items: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.about__me-image {
  border-radius: 2rem;
  overflow: hidden;
  transform: rotate(-5deg);
  transition: var(--transition);
}

.about__me-image:hover {
  transform: rotate(0deg);
}

.about__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.about__card {
  background-color: var(--color-bg-variant);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  width: 45%;
  margin: 1rem 0;
  transition: var(--transition);
}

.about__card:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
  backdrop-filter: blur(5px);
}

.about__icon {
  color: var(--color-primary);
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.about__card h5 {
  font-size: 1.5rem;
}

.about__card small {
  font-size: 0.7rem;
  color: var(--color-light);
}

.about__text p {
  margin: 1rem 0;
}

/* ========== MEDIA QUERIES ========== */

@media screen and (max-width: 1024px) {
  .about__container {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .about__me {
    margin: 2rem auto 4rem;
  }

  .about__card {
    width: 45%;
  }
}

@media screen and (max-width: 600px) {
  .about__me {
    width: 15rem;
    height: 15rem;
    margin: 0 auto 3rem;
  }

  .about__cards {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .about__card {
    width: 100%;
  }

  .about__content {
    text-align: center;
  }
}
