.education__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
  padding: 2rem 0;
}

.education__item {
  background: var(--color-bg-variant);
  padding: 1rem 0 1rem 2rem;
  border: 1px solid transparent;
  width: 100%;
  transition: var(--transition);
  border-radius: 20px;
}

.education__item:hover {
  background: transparent;
  border: 1px solid var(--color-primary);
  backdrop-filter: blur(5px);
}

.education__item h3 {
  color: var(--color-primary);
}

.education__date {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

@media screen and (max-width: 1024px) {
  .education__item {
    height: 10rem;
  }
}

@media screen and (max-width: 600px) {
  .education__item {
    font-size: 0.9rem;
  }
}
