# dependencies
/node_modules
.pnpm-debug.log*

# testing
/coverage

# production
/build
/dist

# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
*.sw?

# OS files
.DS_Store

# AI tools
.claude

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
