.section__subtitle {
  font-size: 1.4rem;
  text-align: center;
  width: 100%;
  color: var(--color-white);
}

.container.achievement__container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
  border: 1px solid var(--color-primary-variant);
  border-radius: 1rem;
  backdrop-filter: blur(5px);
  background: var(--color-bg-variant);
  transition: var(--transition);
}

.achievement-section {
  padding: var(--spacing-2xl);
  background: var(--color-bg-variant);
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
  margin: var(--spacing-2xl) auto;
}

.achievement-section h1 {
  text-align: center;
  margin-bottom: var(--spacing-xl);
  color: var(--color-primary);
}

.achievement-list {
  list-style: none;
  padding: 0;
}

.achievement-item {
  margin-bottom: var(--spacing-lg);
  padding: var(--spacing-md);
  border-left: 4px solid var(--color-primary);
  background: var(--color-bg);
  border-radius: 6px;
  transition:
    background 0.3s,
    box-shadow 0.3s;
}
.achievement-item:hover {
  background: var(--color-bg-variant);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.achievement-item h3 {
  margin: 0 0 var(--spacing-xs) 0;
  color: var(--color-primary);
}

.achievement-item p {
  margin: 0 0 var(--spacing-xs) 0;
  color: var(--color-white);
}

.achievement-date {
  font-size: 0.9rem;
  color: var(--color-light);
}
