.skill__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  margin: 0 auto;
}

.skill__card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  padding: 0 0 1rem 0;
  border: 1px solid transparent;
  border-radius: 1rem;
  background-color: var(--color-bg-variant);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: var(--transition);
}

.skill__card:hover {
  background: transparent;
  border: 1px solid var(--color-primary);
  backdrop-filter: blur(5px);
}

.skill__title {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--color-bg);
  background-color: var(--color-primary);
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 1rem 1rem 0 0;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
}

.skill__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 0 1rem;
}

.skill__item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-text);
  background-color: var(--color-bg);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: var(--transition);
  border: 1px solid var(--color-bg-variant);
}

.skill__item:hover {
  background: transparent;
  border: 1px solid var(--color-primary);
  backdrop-filter: blur(5px);
}

.skill__icon {
  font-size: 1rem;
  color: var(--color-primary);
}

@media screen and (max-width: 1200px) {
  .skill__card {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .skill__container {
    flex-direction: column;
    align-items: center;
  }

  .skill__card {
    width: 100%;
  }
}
