.container.testimonials__container {
  width: 40%;
  padding-bottom: 2rem;
}

.recommenders__avatar {
  width: 5rem;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto 1rem;
  border: 0.4rem solid var(--color-primary-variant);
}

.testimonial {
  background: var(--color-bg-variant);
  text-align: center;
  padding: 2rem 2rem 4rem 2rem;
  margin: 0 2rem;
  border-radius: 1rem;
}

.recommenders__review {
  color: var(--color-light);
  font-weight: 300;
  display: block;
  width: 80%;
  margin: 0.8rem auto 0;
}

.recommenders__name {
  font-size: 1.1rem;
  font-weight: 500;
  display: block;
  margin: 0.8rem auto 0;
}

.recommenders__designation {
  font-size: 0.8rem;
  color: var(--color-light);
  font-weight: 200;
  display: block;
  margin: -0.6rem auto 0;
}

.swiper-pagination-bullets .swiper-pagination-bullet {
  background-color: var(--color-primary);
}

@media screen and (max-width: 1024px) {
  .container.testimonials__container {
    width: 60%;
  }
}

@media screen and (max-width: 600px) {
  .container.testimonials__container {
    width: var(--container-width-sm);
  }
  .recommenders__review {
    width: var(--container-width-sm);
  }
}
