/* footer.css */

footer {
  background: var(--color-primary);
  padding: 0;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.footer__logo {
  cursor: default;
  color: var(--color-bg);
  font-size: 2rem;
  font-weight: 600;
  display: inline-block;
  text-decoration: none;
  transition: var(--transition);
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.4));
}

.footer__socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.4));
}

.footer__socials a {
  color: var(--color-bg);
  text-decoration: none;
  transition: var(--transition);
  padding: 0.5rem 0.5rem 0;
  padding-bottom: 0;
  border-radius: 1rem;
}

.footer__socials a:hover {
  transform: scale(1.1);
  background-color: var(--color-bg);
  color: var(--color-primary);
}

.footer__socials a svg {
  font-size: 1.5rem;
}

.footer__copyright {
  color: var(--color-bg);
  padding-bottom: 0.4rem;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.4));
}
