.nav {
  height: 4rem;
  position: fixed;
  background-color: var(--color-bg);
  opacity: 0.7;
  z-index: 100;
  transition: var(--transition);
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.4));
  padding: 0 1rem;
  border-radius: 1rem;
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 2rem);
  top: 0;
}

.nav__logo {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--color-primary);
  text-decoration: none;
  transition: var(--transition);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3rem;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.4));
}

.nav__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  height: 100%;
}

.nav__list a,
.nav__list button {
  aspect-ratio: 1/1;
  padding: 1rem;
  text-decoration: none;
  font-size: 1.2rem;
  text-align: center;
  transition: var(--transition);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: var(--color-white);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.nav__list a[aria-label]:hover::after {
  content: attr(aria-label);
  font-size: 0.7rem;
  width: 4rem;
  position: absolute;
  color: var(--color-white);
  font-weight: bold;
  margin-top: 2.5rem;
  text-align: center;
}

.nav__list button:hover,
.nav__list a:hover,
.nav__list .active {
  background: url(../../assets/images/bg-texture.png), var(--color-bg-variant);
  background-size: 5px 5px;
  color: var(--color-primary);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  & > svg {
    color: var(--color-primary);
  }
}

@media screen and (max-width: 640px) {
  .nav__logo {
    display: none;
  }
  .nav__list {
    width: 100%;
    justify-content: space-around;
    gap: 0;
  }
  .nav__list a,
  .nav__list button {
    padding: 1rem;
    font-size: 1rem;
  }

  .nav__list a[alt]:hover::after {
    display: none;
  }
}
