.nav-btn {
  position: fixed;
  right: 2rem;
  top: 2rem;
  z-index: 2;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  padding: 0.5rem;
  transition: var(--transition);
  background-color: var(--color-primary);
  border-radius: 10%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.nav-btn__line {
  width: 1rem;
  height: 0.1rem;
  background: var(--color-bg);
  margin: 0.1rem 0;
  transition: var(--transition);
}

.nav {
  background: rgba(0, 0, 0, 0.3);
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1.2rem;
  padding: 0.4rem 1.7rem;
  z-index: 2;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2rem;
  border-radius: 3rem;
  backdrop-filter: blur(15px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
a {
  display: flex;
  align-items: center;
  width: fit-content;
  height: fit-content;
  padding: 0.5rem;
  border-radius: 50%;
  transition: var(--transition);
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.nav a {
  background: transparent;
  padding: 0.9rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  color: var(--color-light);
  font-size: 1.1rem;
  font-weight: bold;
}
.nav a:hover {
  background: rgba(255, 255, 255, 0.3);
  overflow: visible;
}
.nav a[alt]:hover {
  transform: scale(1.05);
}
.nav a[alt]:hover::after {
  content: attr(alt);
  font-size: 0.8rem;
  position: absolute;
  top: 100%;
  color: var(--color-white);
  font-weight: bold;
  left: 50%;
  transform: translateX(-50%);
  transition: var(--transition);
  bottom: -50%;
}

.nav a.active {
  background: var(--color-primary);
  color: var(--color-bg);
  border: 1px solid var(--color-primary);
  box-shadow: 0 0 0 2px var(--color-primary);
}

@media screen and (max-width: 900px) {
  .nav a {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 600px) {
  .nav-btn {
    right: 1rem;
    top: 1rem;
  }
  .nav {
    bottom: 1rem;
    padding: 0.4rem 0.8rem;
  }
  .nav-btn__line {
    width: 0.8rem;
    height: 0.08rem;
  }
  .nav a {
    font-size: 0.6rem;
    padding: 0.6rem;
  }
}
